@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Literata:opsz,wght@7..72,500;7..72,600;7..72,700;7..72,800;7..72,900&display=swap');



$primary-color: #1c1c1c;
$accent-color: #dd2e44;
$text-color: #ffffff;
$danger-color: #f7607a;
$grey-color: #d3d0cf;