/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Literata:opsz,wght@7..72,500;7..72,600;7..72,700;7..72,800;7..72,900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding: 0; }

/*-----Text Colors-----*/
.text-main-color {
  color: #dd2e44; }

.text-white-color {
  color: #ffffff; }

.text-black-color {
  color: #1c1c1c; }

.text-danger-color {
  color: #f7607a; }

.text-danger-color {
  color: #f7607a; }

/*-----Background Colors-----*/
.bg-main-color {
  background: #dd2e44; }

.bg-white-color {
  background: #ffffff; }

.bg-black-color {
  background: #1c1c1c; }

/*----------------*/
/*---Typography---*/
/*----------------*/
body {
  font-family: 'Poppins', sans-serif;
  color: #1c1c1c; }

#logo {
  font-size: 30px;
  text-decoration: none;
  font-weight: 900; }

#logo,
.nav-link {
  color: #ffffff; }

.nav-link:hover {
  color: #dd2e44; }

.nav-link .bi {
  text-align: center; }

#dropDownUser {
  color: #201e1e; }

li .nav-link {
  text-align: center; }

/*----------------*/
/*-----Layout-----*/
/*----------------*/
/*-----Sidebar-----*/
#sidebar {
  background-color: #1c1c1c;
  border: 1px solid #1c1c1c;
  width: 12rem;
  min-height: 100vh;
  margin-left: 0rem;
  transition: all 0.3s ease-in-out; }

#wrapper.toggled #sidebar {
  margin-left: -12rem; }

.nav-pills .nav-link.active {
  background-color: #dd2e44; }

.nav-link,
#dropDownUser {
  cursor: pointer;
  transition: all 0.2s ease; }

.nav-link .bi {
  display: block; }

/*-----Content Container-----*/
.content {
  width: 100%;
  background-color: rgba(185, 24, 32, 0.1); }

/*-----Navigation Bar-----*/
.navbar {
  height: 4.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.dropdown-menu {
  min-width: 100%;
  transform: translate(-70px, 20px); }

#sidebarToggleTop {
  color: #dd2e44;
  transition: all .3s ease-in-out;
  cursor: pointer; }

.card-body {
  background-color: #edf1f5;
  display: flex;
  justify-content: center;
  align-items: center; }

/* User Configuration */
.admin__input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 60%;
  padding: 2rem 2rem;
  background-color: #fafafa; }
  .admin__input-container .primary-logo {
    display: block;
    font-size: 10rem;
    text-align: center; }
  .admin__input-container .admin__field {
    width: 100%;
    margin-top: 1rem;
    padding: .6rem .4rem;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: #edf1f5; }
  .admin__input-container .admin__btn {
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 15px;
    color: #ffffff;
    background-color: #3db4f2; }

/* Button Input events*/
.admin__btn--username {
  display: none;
  margin-top: .9rem; }
  .admin__btn--username.show {
    display: inline-block; }

.admin__btn--password {
  display: none;
  margin-top: .4rem; }
  .admin__btn--password.show {
    display: inline-block; }
