/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Literata:opsz,wght@7..72,500;7..72,600;7..72,700;7..72,800;7..72,900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding: 0; }

:root {
  /*---pagination settings----*/
  --swiper-pagination-color: #dd2e44;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
  /* Slide Background settings*/
  --bg-linear-gradient: linear-gradient(to top, #000 20%, transparent 50%); }

.active-link {
  border-bottom: 2px solid #dd2e44; }

/*-------------------*/
/*-----Typography-----*/
/* -------------------*/
body {
  font-family: 'Poppins', sans-serif;
  color: #ffffff; }

.modal {
  z-index: 9999;
  color: #1c1c1c; }

.article__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  gap: 1.6rem;
  padding: 2rem; }
  .article__content .movie__title {
    font-family: 'Literata', serif;
    font-size: 2.5rem; }
  .article__content .movie__description {
    display: none;
    color: #999696;
    position: relative; }
  .article__content .movie__tags {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem; }
    .article__content .movie__tags .tags {
      color: #d3d0cf;
      padding: .2rem .5rem;
      border: 1px solid #d3d0cf; }

/*-------------------*/
/*-----Navigation----*/
/*-------------------*/
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  background-color: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999; }

.nav-icon-logo {
  color: #dd2e44;
  font-size: 1.6rem;
  opacity: .80; }

.nav-links {
  display: none; }

.nav-hamburger {
  display: block;
  border: none;
  background: none;
  width: 1.7rem;
  outline: none;
  cursor: pointer; }

.nav-hamburger-bar,
.nav-hamburger::before,
.nav-hamburger::after {
  content: "";
  display: block;
  height: 3px;
  background-color: rgba(240, 240, 239, 0.5);
  margin: 6px 0;
  transition: all 200ms ease-in;
  border-radius: 25px; }

.nav-hamburger.isactive .nav-hamburger-bar {
  opacity: 0; }

.nav-hamburger.isactive::before {
  transform: rotate(-45deg) translate(-6px, 6.4px); }

.nav-hamburger.isactive::after {
  transform: rotate(45deg) translate(-6px, -6px); }

/*-------------------*/
/*----Mobile Menu----*/
/*-------------------*/
.nav-mobile-menu {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(6px);
  left: 100%;
  transition: 0.4s;
  z-index: 98; }

.nav-mobile-menu.isactive {
  left: 0%; }

.nav-mobile-links {
  position: relative;
  top: -50%;
  transform: translateY(50%);
  font-size: 2rem; }

.nav-mobile-links a {
  display: block;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: #ffffff; }

/*-------------------*/
/*------Buttons------*/
/*-------------------*/
/*----slider arrows---*/
.nav-button::before,
.nav-button::after {
  display: none;
  color: #ffffff;
  font-size: 25px !important; }

/*----Book now btn---*/
.article__button {
  max-width: 100%;
  display: block;
  outline: none;
  border: 1px solid #dd2e44;
  background: #dd2e44;
  padding: .7rem 3rem;
  border-radius: 10px;
  cursor: pointer;
  color: #ffffff;
  overflow: hidden;
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1); }

/*-------------------*/
/*----Slides layout---*/
/*-------------------*/
.swiper {
  height: 100vh; }

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  background-color: black;
  background-position: top; }

.swiper-wrapper .slide-list:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  opacity: .47;
  z-index: -1; }

/*-------------------*/
/*----Slides Images---*/
/*-------------------*/
.slide-1:before {
  background-image: var(--bg-linear-gradient), url("../img/Sample Pictures/Endgame.jpg"); }

.slide-2:before {
  background-image: var(--bg-linear-gradient), url("../img/Sample Pictures/joker.jpg"); }

.slide-3:before {
  background-image: var(--bg-linear-gradient), url("../img/Sample Pictures/Venom.jpg"); }

/*-------------------------------------------------*/
/*---------------------DESKTOP---------------------*/
/*-------------------------------------------------*/
@media (min-width: 768px) {
  :root {
    --bg-linear-gradient: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent); }
  /*-------------------*/
  /*-----Typography-----*/
  /* -------------------*/
  .nav-links a {
    text-decoration: none;
    color: #ffffff; }
  /*-------------------*/
  /*-----Navigation-----*/
  /* -------------------*/
  .nav-hamburger {
    display: none; }
  .nav-links {
    display: flex;
    gap: 1rem;
    opacity: .70; }
  .swiper-slide {
    justify-content: flex-end;
    padding: 4rem 0; }
  .swiper-wrapper .slide-list:before {
    opacity: .25; }
  article {
    width: 100%; }
  .article__content {
    width: 60%;
    padding: 0 1.5rem;
    gap: 1rem;
    margin: 0 2rem;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    align-items: flex-start; }
    .article__content .movie__title {
      font-family: 'Literata', serif;
      font-size: 2.3rem;
      font-weight: 900; }
    .article__content .movie__description {
      width: 80%;
      display: block;
      text-align: start; } }
