:root {
    --main-bg-color: #170505;
    --main-text-color: #f2f2f2;
    --second-text-color: #ABACB1;
    --second-bg-color: #f2f2f2;
    --accent-color: #630110;
}


.primary-text {
    color: var(--main-text-color);
}

.second-text {
    color: var(--second-text-color);
}

.primary-bg {
    background-color: var(--main-bg-color);
}

.secondary-bg {
    background-color: var(--second-bg-color);
}

.accent-text {
    color: var(--accent-color);
}

.accent-bg {
    color: var(--accent-color);
}

.rounded-full {
    border-radius: 100%;
}

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: 0rem;
    transition: margin 0.25s ease-out;
    background: #f8f6f2;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0rem;
}

#menu-toggle {
    cursor: pointer;
    transition: all 1s;
    transform: rotate(180deg);
    color: var(--accent-color);
}

#wrapper.toggled #menu-toggle {
    -webkit-transform: rotate(0deg) translateZ(0);
    color: var(--main-bg-color);
}

.list-group-item {
    border:none;
    padding: 20px 30px;
}

.list-group-item:hover {
    color: var(--second-text-color);
}

.list-group-item.active {
    background-color: transparent;
    color: var(--accent-color);
    font-weight: bold;
    border: none;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }

  
}

