@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
ul,
dd {
    margin: 0;
}

:root {
    --main-bg-color: #a4161a;
    --main-text-color: #a4161a;
    --second-text-color: #fff;
    --second-bg-color: #fff;
    --white-text-color: #fff;
    --black-text-color: #2b2b2b;
    --white-bg-color: #fff;
    --black-bg-color: #2b2b2b;
    /*-----Colors-----*/

    --main-color: hsl(357, 77%, 41%);
    --white-color: hsl(60, 3%, 94%);
    --black-color: hsl(0, 3%, 12%);
}

/*-------------------------*/
/*---------Colors----------*/
/*------------------------*/


.primary-text {
    color: var(--main-color);
}

.second-text {
    color: var(--white-color);
}

.primary-bg {
    background-color: var(--main-color);
}

.secondary-bg {
    background-color: var(--black-color);
}

/*-------------------------*/
/*------- -Layout----------*/
/*------------------------*/

.main-container {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    background-image: url('../img/theater.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    width: 100%;
    position: absolute;
    padding: 2rem;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}


.second-container {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    background: var(--black-color);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


#body.isactive {
    overflow: hidden;
}

/*-------------------------*/
/*-------Typography-------*/
/*------------------------*/

#body {
    font-family: sora, sans-serif;
}

#logo {
    letter-spacing: 2px;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: var(--white-color);
}

.content--heading {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    color: var(--white-color);
    font-weight: 700;
    letter-spacing: 2px;
}

.content--sub-heading {
    font-weight: 300;
    color: #FFF5EE;
}

.content--button {
    font-family: sora, sans-serif;
}

/*-------------------------*/
/*-----Navigation bar-----*/
/*------------------------*/

.nav-bar {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    padding: 3rem 3rem;
    align-items: center;
    z-index: 100;
    transition: all 0.6s;
}


/*-----Navigation bar scroll animation-----*/
.nav-bar.sticky {
    background: var(--white-color);
    color: var(--black-color);
    padding: .5rem 3rem;
}

.nav-bar.sticky a {
   color: var(--black-color);
}
.nav-bar.sticky #logo {
    color: black ;
}

.nav-bar.sticky .hamburger:before,
.nav-bar.sticky .hamburger .bar,
.nav-bar.sticky .hamburger:after{
    background: var(--black-color);
}




.nav-link ul li{
    display: none;
}



/*-----Navigation bar hamburger menu-----*/
.hamburger {
    display: block;
    width: 2.1875rem;
    cursor: pointer;

    border: none;
    outline: none;
    background: none;
}

.hamburger .bar, 
.hamburger:before, 
.hamburger:after {
    display:block;
    content: "";
    height: 3px;
    margin: 6px 0px;
    background: white;
    transition: 0.2s;
}

.hamburger .bar, 
.hamburger:after {
    width: 100%;
}

.hamburger:before {
    width: 50%;
}




/*-----Navigation bar hamburger menu when active-----*/

.hamburger.isactive:before {
    opacity: 0;
}

.hamburger.isactive .bar {
      transform: rotate(-45deg) translate(10px, 8px);
    }

.hamburger.isactive::after {
    transform: rotate(45deg) translate(2px, -16px);
    }

.mobile-nav {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(5px);
    left: 100%;
    transition: 0.4s;
    z-index: 98;
    padding-top: 120px;
}

.mobile-nav.isactive {
    left: 0;
}

.mobile-nav a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--white-color);
}

@media (min-width: 47.9375rem) {
    .mobile-nav {
        display: none;
    }
    .hamburger {
        display: none;
    }

    .nav-link ul {
        margin-bottom: 0;
    }

    .nav-link ul li {
        display: inline;
        list-style: none;
        
    }

    .nav-link li a {
        display: inline-block;
        color: var(--white-color);
        position: relative;
        margin: 0 1rem;
        text-decoration: none;
    }

    li a:after {
        position: absolute;
        bottom: -5px;
        left: 0px;
        content: "";
        width: 0%;
        height: 3px;
        background: #a4161a;
        transition: width .3s ease-in-out;
    }

    li:hover a:after {
        width: 100%;
    }

    .nav-bar.sticky .nav-link a {
        color: var(--black-color);
    }
}

/*-------------------------*/
/*---------Content--------*/
/*------------------------*/

.content--button {
    outline: none;
    border: none;
    cursor: pointer;
    width: 15rem;
    padding: .5rem 0;
    position:relative;
    overflow: hidden;
    color: var(--white-color);
    background-color: var(--main-color);
    border-radius: 18px;
    z-index: 1;
    transition: all .4s;
}


.content--button span {
    position: absolute;
    width: 0%;
    height: 100%;
    border: none;
    top: 0;
    left: 0;
    background-color: var(--white-color);
    z-index: -1;
    transition: all .4s;
}

.content--button:hover span {
    width:100%;
}

.content--button:hover {
    color: var(--main-color);
}


