@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
/* Root */
:root {
    /*Text colors*/
    --clr-white: hsl(0, 0%, 98%);
    --clr-grey: hsl(225, 7%, 53%);
    --clr-dark-purple: hsl(253, 64%, 31%);
    /*Background Colors*/
    --bg-color-white: hsl(0, 0%, 98%);
    --bg-dark-purple: hsl(253, 64%, 31%);
}



/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}


/*--------------*/
/*--Typography--*/
/*--------------*/
.login_header {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--clr-dark-purple);
    padding-bottom: 0.2em;
}

.login-subheader {
    max-width: 400px;
    text-align: center;
    color: var(--clr-grey);
}

.login_input--label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: var(--clr-grey);
    transform: translateY(-50%);
    pointer-events: none;
    transition: .5s;
}

.login_input--textbox {
    color: #2b2b2b;
}

.login_input--textbox:focus ~ label,
.login_input--textbox:valid ~ label {
    top: -5px;
    color: var(--clr-dark-purple);
}


.signup {
    position: relative;
    text-decoration: none;
    color: var(--clr-grey);
    text-align: center;
    margin-top: 1rem;
    display: inline-block;
    width: 100%;
    font-size: 14px;
}

    .signup:hover {
        transition: 0.5s;
        color: var(--clr-dark-purple);
    }

@media (min-width: 542px) {

    .signup {
        text-align: right;
    }
}

.txt {
    height: 16px;
    margin: 0;
    font-size: 16px;
    color: tomato;
}

/*----------*/
/*--Layout--*/
/*----------*/

section {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-image: url('../img/cinemablur.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    display: flex;
}

/*--main flex container--*/
.container {
    margin: 0 2rem;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (min-width: 542px) {
    .container {
        margin: 0 2rem;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }
}

@media (min-width: 1024px) {
    .container {
        margin: 0 2rem;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
}


/*Promo image*/
.promoimg {
    background-image: url('../img/cinema3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

@media (min-width: 542px) {
    .promoimg {
        min-width: 0;
    }
}

@media (min-width: 1024px) {
    .promoimg {
        min-width: 500px;
        height: 500px;
        min-height: 150px;
    }
}


/*-- Login background: rgb(0, 52, 134 / 50%);--*/
/*Edited:
    background: rgb(0, 52, 134 / 50%);
    border-radius: 10px;

*/
.login {
    padding: 1.5rem 1.5rem;
    min-width: 100px;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    background: var(--bg-color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 542px) {
    .login {
        padding: 3rem 3rem;
        min-width: 200px;
        height: 500px;
        min-height: 150px;
        background: white;
        border-radius: 10px;
    }
}

@media (min-width: 1024px) {
    .login {
        border-radius: 0px 10px 10px 0px;
    }
}

.login_input {
    margin: .5rem;
}




.login_input_field {
    position: relative;
    border-bottom: 1px solid silver;
    margin: 25px 0 20px 0;
}

.login_input_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--bg-dark-purple);
    transition: .5s;
    }

.login_input--textbox:focus ~ span::before,
.login_input--textbox:valid ~ span::before {
    width: 100%;
}

.login_input--textbox {
    min-width: 200px;
    padding: 0 0;
    height: 40px;
    width: 16em;
    border: none;
    background: none;
    outline: none;
}

@media (min-width: 542px) {

    .login_input--textbox {
        width: 200px;
        min-width: 360px;
    }
}


.btn {
    width: 100%;
    height: 50px;
    background: #331d82;
    border-radius: 25px;
    margin-top: 10px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 300;
    transition: all 0.5s ease;
    border: 2px solid #331d82
}

.btn:hover {
    color: #331d82;
    background: #fbfbfb;
    }

