/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@900&family=Rubik:wght@300;400;500;600&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
ul,
dd {
    margin: 0;
}

body {
    background: var(--main-bg-color);
}

#body.isactive {
    overflow: hidden;
}
/*-------------------------*/
/*----------Root----------*/
/*------------------------*/
:root {
    --main-bg-color: #170505;
    --main-text-color: #f2f2f2;
    --second-text-color: #ABACB1;
    --second-bg-color: #f2f2f2;
    --accent-color: #630110;
    --light-grey-color: #361f1f;
}

/*-------------------------*/
/*-------Typography-------*/
/*------------------------*/
.nav-section a,
.mobile-nav a,
#nav-logo-section,
.article-title-section,
main > article > .article-title-section > button {
    font-family: 'Rubik', sans-serif;
}


.nav-section a,
.mobile-nav a {
    color: var(--second-text-color);
    text-decoration: none;
}

#nav-logo-section {
    font-size: 1.2rem;
    color: var(--main-text-color);
}


.mobile-nav a {
    font-family: 'Exo 2', sans-serif;
    font-weight: 900;
    text-decoration: none;
    font-size: 2rem;
    text-align: center;
}

.article-title-section {
    color:var(--main-text-color);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.2rem;
}

main > article > .article-title-section > button {
    font-size: 1rem;
    font-weight: 500;
}
/*-------------------------*/
/*-----Navigation Bar-----*/
/*------------------------*/
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 2;
    background: var(--main-bg-color);
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--light-grey-color);
}

#nav-link-section, 
#nav-profile-section{
    display: none;
}



/*-----Hamburger Menu-----*/

.hamburger {
    display: block;
    width: 2.1875rem;

    cursor: pointer;
    outline: none;
    border: none;
    background: none;
}

.hamburger:before,
.hamburger:after,
.hamburger .bar {
    display: block;
    content: "";
    height: 3px;
    margin: 6px 0;
    background: var(--second-bg-color);
    transition: all .3s;
}

.hamburger:after,
.hamburger .bar {
    width: 100%;
}

.hamburger:before {
    width: 50%;
}

.hamburger.isactive:before {
    opacity: 0;
}

.hamburger.isactive:after {
    transform: rotate(-45deg) translate(5px, -6px);
}

.hamburger.isactive .bar {
    transform: rotate(45deg) translate(0px, 1px) ;
}

/*-----Mobile Navigation Slider-----*/
.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    background: var(--main-bg-color);
    z-index: 1;
    padding: 6rem 0;
    transition: all .3s ease-in-out;
}

.mobile-nav a {
    display: block;
    width: 100%;
    padding: 2rem 0;
}

.mobile-nav.isactive {
   left: 0;
}


/*-------------------------*/
/*------Main Content------*/
/*------------------------*/


/*------Grid Layout------*/
/*-----------------------*/
main > article {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr repeat(3, 0.5fr);
}

main > article > .article-section {
    border: 1px solid var(--light-grey-color);
    border-top: none;
    border-left: none;
    border-right: none;
}

/*------Image section------*/
/*------------------------*/
main > article:first-child > .article-image-section {
    background-image: url('../img/Sample.jpg');
}


main > article > .article-image-section {
    background-size: cover;
    background-position: center;
    order: 1;
}

/*------Description section------*/
/*-------------------------------*/
main > article > .article-description-section {
    order: 3;
}


/*------Title section------*/
/*-------------------------*/
main > article > .article-title-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    order: 2;
}

/*----Title section-button----*/
main > article > .article-title-section > button {
    padding: .5rem 1rem;
    outline: none;
    background: none;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    position: relative;
}

main > article > .article-title-section > button:before {
    content: "";
    width: 0;
    height: 100%;
    background: var(--accent-color);
    z-index: -1;

    position: absolute;
    top: 0;
    left: 0;

    transition: all .4s ease-in-out;
}

main > article > .article-title-section > button:hover:before {
    width: 100%
}
main > article > .article-title-section > h2 {
    flex-basis: 70%;
}


/*------Button section------*/
main > article > .article-button-section {
    display: flex;
    order: 4;
}

.article-button-section > button {
    width: calc(100% / 2);
    border: none;
    outline: none;
    background: transparent;
    color: var(--second-text-color);
    transition: all .2s ease-in-out;
}

.article-button-section > button:hover {
    color: var(--accent-color);
}

.article-button-section > .button-left {
    border-right: 1px solid var(--light-grey-color);  
}
/*------------------------------------DESKTOP-----------------------------------*/
@media (min-width: 47.9375rem) {


    /*-----Disable hamburger menu -----*/
    .hamburger,
    .mobile-nav {
        display: none;
    }


    /*-------------------------*/
    /*-----Navigation Bar-----*/
    /*------------------------*/

    #nav-logo-section {
        display: block;
        justify-content: start;
        border: none;
    }

    #nav-link-section,
    #nav-profile-section {
        display: flex;
    }

 

    #nav-link-section,
    #nav-logo-section {
        flex-basis: calc(100% / 3);
    }

    #nav-link-section  a{
        display: inline-block;
        
    }


    #nav-profile-section {
        flex-grow: 1;
    }

    nav > .nav-section {
        display: flex;
        text-align: start;
        border-left: 1px solid var(--light-grey-color);
        padding: 1.5rem 1rem;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        
    }


    .nav-bar {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        padding: 0;
    }


    /*-------------------------*/
    /*-----Main Articles------*/
    /*------------------------*/


    /*-----Grid Layout------*/
    /*----------------------*/
    main > article {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 2fr 1fr;
    }

    main > article > .article-section {
        border: 1px solid var(--light-grey-color);
        border-left: none;
        border-top: none;
    }

    /*-----Articles------*/
    /*-------------------*/

    main > article > .article-title-section {
        order: 3;
    }

}

